.timeline {
  margin-top: 40px;
  border-left: 3px solid #ff3c00;
  padding-left: 30px;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #ff3c00;
  border-radius: 50%;
  box-shadow: 0 0 15px #ff3c00;
}

.timeline-item h3 {
  color: #ff7a00;
  margin-bottom: 10px;
}

.timeline-item p {
  color: #ccc;
  line-height: 1.6;
}

