.timeline {
  margin-top: 40px;
  border-left: 3px solid #ff3c00;
  padding-left: 30px;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #ff3c00;
  border-radius: 50%;
  box-shadow: 0 0 15px #ff3c00;
}

.timeline-item h3 {
  color: #ff7a00;
  margin-bottom: 10px;
}

.timeline-item p {
  color: #ccc;
  line-height: 1.6;
}

.fleet {
  padding: 60px 20px;
  text-align: center;
}

.north { border-top: 3px solid red; }
.west { border-top: 3px solid green; }
.south { border-top: 3px solid purple; }
.east { border-top: 3px solid gold; }

.fleet h2 {
  margin-bottom: 20px;
}

.fleet ul {
  list-style: none;
  padding: 0;
}

.fleet li {
  margin: 10px 0;
}
